doctype html
html(lang="en" ng-app='app')
  head
    base(href="/")
    title
      = pageTitle
    include templates/stylesheet
  body(ng-controller='ideaController')
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        ul.nav.navbar-nav
          li.btn.btn-danger.nav-li
            a.nav-block.white(href='#' data-toggle="modal" data-target="#newIdea" ng-click='newIdea();').
              Post new idea
        ul.nav.navbar-nav.navbar-right
          if user
            li.btn.btn-default.nav-li
              a.nav-block
                = user.name
            li.btn.btn-default.nav-li
              a.nav-block(href='/logout' target="_self").
                Logout
          else
            li.btn.btn-default.nav-li
              a.nav-block(href='/login/facebook' target="_self").
                Facebook Login
    #wrapper.container-fluid
    .container-fluid
      .row-fluid
        div(ng-view)
  footer
    include templates/javascript
    script(type='text/javascript' src='/js/app.js')