doctype html
html(lang="en")
  head
    title
      = pageTitle
    include templates/stylesheet
  body
    #container.col
      p.
        basic seed
  footer
    include templates/javascript
    
    script(type='text/javascript' src='/js/app.js').