doctype html
html(lang="en" ng-app='app')
  head
    base(href="/")
    title
      = pageTitle
    include templates/stylesheet
  body(ng-controller='ideaController')
    .nav
      if user
        a(href='/logout' target="_self") Logout
        .name Hello #{user.name}
      else
        a(href='/login/facebook' target="_self") Facebook Login
    div(ng-view)
  footer
    include templates/javascript
    
    script(type='text/javascript' src='/js/app.js').