doctype html
html(lang="en" ng-app='app')
  head
    base(href="/")
    title.
      NTU ArtFest IdeaList
    include templates/stylesheet
  body(ng-controller='mainController')
    #navbar-collapsible.navbar.navbar-default.navbar-fixed-top.navbar-collapse.collapse
      .container-fluid
        .col-xs-2.vcenter
          ul.nav.navbar-nav
            li
              a.nav-block.white(href='/')
                img.img-responsive(src='/logo.png')
        if user
          .col-xs-2.vcenter
            ul.nav.navbar-nav
              li.btn.btn-danger.nav-li
                a.nav-block.white(href='#' data-toggle="modal" data-target="#newIdea" ng-click='newIdea();').
                  Post new idea
        else
          .col-xs-2.vcenter
            ul.nav.navbar-nav
              li.btn.btn-danger.nav-li
                a.nav-block.white(href='/login/facebook' target="_self").
                  Login & Post new idea
        .col-xs-6.vcenter
          ul.nav.navbar-nav
            li.nav-li(style='width:100%;')
              form.navbar-block.navbar-form(role="search" style='min-width: 370px;')
                .form-group(style='width:100%;')
                  input.select2Input(type="hidden" ui-select2="select2Options" ng-model="tags")
        if user
          .col-xs-2.vcenter.row
            .col-xs-6
              ul.nav.nav-block
                img.round(src="#{user.photo}")
            .col-xs-6
              ul.nav.navbar-nav
                li.btn.btn-default.nav-li
                  a.nav-block(href='/logout' target="_self").
                    Logout
        else
          .col-xs-2.vcenter
            ul.nav.navbar-nav
              li.btn.btn-default.nav-li
                a.nav-block(href='/login/facebook' target="_self").
                  Facebook Login
    #wrapper.container-fluid
    .container-fluid
      div(ui-view)
      #newIdea.modal.fade(role="dialog" ng-controller='modalController')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button(type="button" class="close" data-dismiss="modal") &times;
              h4.modal-title Hit me with new ideas
            form(name="newIdea" action="#" ng-submit="submitForm()")
              .modal-margin.container-fluid
                .row
                  .uil-magnify-css.hover-on-image(ng-show='waiting' style='-webkit-transform:scale(0.55)')
                    .group
                      .grip
                      .inner-circle
                      .outer-circle
                  img.col-xs-4.img-responsive(ng-src="{{form.image}}" ng-init="form.image = (form.image)? form.image: 'placeholder.png'")
                  .col-xs-8
                    .form-group
                      label Title
                      p(ng-bind='form.linkTitle' style='min-height: 20px;')
                    .form-group
                      label(for="link") Link
                      input.form-control(ng-model='form.link' type="text" id="link" placeholder="Link")
                    .form-group
                      label(for="tag") Tag
                      input#tag.select2Input(type="hidden" ui-select2="select2Options" ng-model="form.tags")
                .row.content-block
                  label(for="content") Content
                  textarea#content.col-xs-12.form-control(tbio ng-model='form.content' type="text")
                hr
                .row
                  input.col-xs-5.btn.btn-primary(type="submit")
                  .col-xs-2
                  button.col-xs-5.btn.btn-default(type="button" data-dismiss="modal") Cancel
  footer
    include templates/javascript
    script(type='text/javascript' src='/js/app.js')
    script.
      $(document).ready(function(){
          $(document.body).css('padding-top', $('#navbar-collapsible').height() + 40);
          $(window).resize(function(){
              $(document.body).css('padding-top', $('#navbar-collapsible').height() + 40);
          });
          $('#navbar-collapsible').bind('heightChange', function(){
            $(window).resize(function(){
                $(document.body).css('padding-top', $('#navbar-collapsible').height() + 40);
            });
          });

      });
