doctype html
html(lang="en" ng-app='app')
  head
    base(href="/")
    title
      = pageTitle
    include templates/stylesheet
  body(ng-controller='ideaController')
    #wrapper.container-fluid
      .row
        .col-md-4.btn.btn-success(ng-click='newIdea();') NEW idea!
        if user
          a.right.col-md-4.btn.btn-primary(href='/logout' target="_self") Logout
          .right.col-md-4.name Hello #{user.name}
        else
          a.right.col-md-4.btn.btn-primary(href='/login/facebook' target="_self") Facebook Login
      hr
      .row
        div(ng-view)
  footer
    include templates/javascript
    
    script(type='text/javascript' src='/js/app.js').