doctype html
html(lang="en" ng-app='app')
  head
    base(href="/")
    title
      = pageTitle
    include templates/stylesheet
  body(ng-controller='ideaController')
    .nav.navbar.navbar-default(role="navigation")
      .login.navbar-right
        if user
          a.btn.btn-primary(href='/logout' target="_self") Logout
          .name Hello #{user.name}
        else
          a.btn.btn-primary(href='/login/facebook' target="_self") Facebook Login
    div(ng-view)
  footer
    include templates/javascript
    
    script(type='text/javascript' src='/js/app.js').