doctype html
html(lang="en")
  head
    title
      = pageTitle
    include templates/stylesheet
  body
    .nav
      if user
        a(href='/logout') Logout
        .name Hello #{user.name}
      else
        a(href='/login/facebook') Facebook Login
    #container.col
  footer
    include templates/javascript
    
    script(type='text/javascript' src='/js/app.js').