.round{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
.select2-container{
  max-height: 60px;
  overflow: scroll;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.single {
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.single img {
  width: 100%;
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.single p {
  padding: 10px;
  font: 20px/30px Arial, sans-serif;
  color: #333;
  margin: 0;
}

.timestamp{
  font-size: 12px !important;
}

.navbar-tags{
  min-width: 300px;
  width: 100%;
}
.nav-li{
  margin: 10px;
}
.nav-block{
  padding: 5px !important;
}
.white{
  color: white !important;
}
.content-block{
  margin-top: 10px;
}
.modal-margin{
  margin: 20px;
}
.modal-footer {
  border-top: none; 
}
.hover-on-image{
  position: absolute !important;
  z-index: 1;
  margin-left: 50px;
}
body{
  background: #e9eaed;
  min-width: 800px;
}
.backItem{
  opacity: 1 !important;
}
.tag{
  word-wrap: break-word;
  margin: 3px;
  cursor: pointer;
}
.select2Input{
  width: 100%;
}
pre{
  white-space: pre-wrap
}
.right{
  float: right;
}

h1 {
  margin-left: 10px;
}
#wrapper {
  width: 90%;
}
.pin {
  max-width: 250px;
  display: block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 0.6;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@-webkit-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@-webkit-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@-moz-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@-ms-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@-moz-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@-webkit-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@-o-keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
@keyframes uil-magnify-move {
  0% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  33% {
    -ms-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  66% {
    -ms-transform: translate(0, -22px);
    -moz-transform: translate(0, -22px);
    -webkit-transform: translate(0, -22px);
    -o-transform: translate(0, -22px);
    transform: translate(0, -22px);
  }
  100% {
    -ms-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
.uil-magnify-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-magnify-css .outer-circle {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 30px;
  left: 30px;
  border: 15px solid #424242;
  border-radius: 60px;
}
.uil-magnify-css .inner-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45px;
  left: 45px;
  background: #8b8bfc;
  border-radius: 30px;
}
.uil-magnify-css .grip {
  position: absolute;
  width: 24px;
  height: 60px;
  top: 100px;
  left: 118px;
  border-radius: 20px;
  background: #424242;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uil-magnify-css .group {
  -ms-animation: uil-magnify-move 1s linear infinite;
  -moz-animation: uil-magnify-move 1s linear infinite;
  -webkit-animation: uil-magnify-move 1s linear infinite;
  -o-animation: uil-magnify-move 1s linear infinite;
  animation: uil-magnify-move 1s linear infinite;
}