script(type='text/javascript' src="/components/jquery/dist/jquery.min.js").
script(type='text/javascript' src="/components/jquery-ui/jquery-ui.min.js").
script(type='text/javascript' src="/components/bootstrap/dist/js/bootstrap.min.js").
script(type='text/javascript' src="/components/angular/angular.min.js").
script(type='text/javascript' src="/components/underscore/underscore-min.js").
script(type='text/javascript' src="/components/moment/moment.js").
script(type='text/javascript' src="/components/alertify.js/lib/alertify.min.js").
script(type='text/javascript' src="/components/moment-timezone/builds/moment-timezone-with-data.min.js").