script(type='text/javascript' src='/components/jquery/dist/jquery.min.js')
script(type='text/javascript' src='/components/jquery-ui/jquery-ui.min.js')
script(type='text/javascript' src='/components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript' src='/components/angular/angular.js')
script(type='text/javascript' src='/components/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript' src='/components/underscore/underscore-min.js')
script(type='text/javascript' src='/components/moment/moment.js')
script(type='text/javascript' src='/components/alertify.js/lib/alertify.min.js')
script(type='text/javascript' src='/components/moment-timezone/builds/moment-timezone-with-data.min.js')
script(type='text/javascript' src='/components/select2/select2.js')
script(type='text/javascript' src='/components/angular-ui-select2/src/select2.js')
script(type='text/javascript' src='/textboxio/textboxio.js')
script(type='text/javascript' src='/truncate.js')
script(type='text/javascript' src='/components/imagesloaded/imagesloaded.pkgd.min.js')
script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js')
script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js')
script(type='text/javascript' src='/components/angular-masonry/angular-masonry.js')
script(type='text/javascript' id="dsq-count-scr" src="//ntuaf-idealist.disqus.com/count.js" async)