link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="/components/alertify.js/themes/alertify.core.css")
link(rel="stylesheet" href="/components/alertify.js/themes/alertify.default.css")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet" href="/css/basic.css")
style.
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  a {
    color: #00B7FF;
  }
