<div class="single col-xs-12">
  <div class="row">
    <div class="col-xs-9" >
      <a ng-href="{{idea.link}}">
        <img class='img-responsive' ng-src="{{idea.image}}" ng-init="idea.image = (idea.image)? idea.image: &quot;placeholder.png&quot;"/>
      </a>
    </div>
    <div class="col-xs-3 row" >
      <div class="col-xs-6" ng-repeat="tag in idea.tags">
        <a class="tag" ng-click='pushTag(tag)' ng-bind='"#"+tag'></a>
      </div>
    </div>
  </div>
  <hr/>
  <a ng-href="{{idea.link}}">
    <h1 ng-bind="idea.linkTitle"></h1>
  </a>
  <p class='idea-content' ng-if='idea.content' ng-bind-html="idea.content | to_trusted "></p>
  <p class='timestamp' ng-bind="idea.user.name + ' @ ' + idea.time"></p>
</div>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//ntuaf-idealist.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>